.DS_Store
*.mather01
*.o
*.d
*.map
*.lnp
*.dep
*._cc
*._cxx
*.map
*.junit
tensorflow-build/gen/
tensorflow-build/src/
tensorflow-build/rel
3rdparty-build/src/
tensorflow-test-ng/gen/

*.pack
3rdparty-build/PackName.txt
*.raw
/tensorflow-examples/gen
/out
/tensorflow-examples/out
/tensorflow-test/HelloWorld/tmp
/3rdparty-build/flatbuffers/build
/3rdparty-build/gemmlowp/build
/3rdparty-build/kissfft/build
/3rdparty-build/ruy/build
