.DS_Store
*.mather01
*.o
*.d
*.map
*.lst
*.lnp
*.dep
*._cc
*._cxx
*.map
*.junit
.vscode/
tensorflow-build/gen/
tensorflow-build/src/
tensorflow-build/rel
3rdparty-build/src/

*.pack
3rdparty-build/PackName.txt
*.raw
